@font-face {
	font-family: 'icomoon';
	src:url('../fonts/kora_icomoon.eot?-3lyn21');
	src:url('../fonts/kora_icomoon.eot?#iefix-3lyn21') format('embedded-opentype'),
		url('../fonts/kora_icomoon.woff?-3lyn21') format('woff'),
		url('../fonts/kora_icomoon.ttf?-3lyn21') format('truetype'),
		url('../fonts/kora_icomoon.svg?-3lyn21#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e60a";
}
.icon-fasel:before {
	content: "\e60b";
}
.icon-one:before {
	content: "\e600";
}
.icon-tow:before {
	content: "\e601";
}
.icon-three:before {
	content: "\e602";
}
.icon-four:before {
	content: "\e603";
}
.icon-five:before {
	content: "\e604";
}
.icon-six:before {
	content: "\e605";
}
.icon-seven:before {
	content: "\e606";
}
.icon-eight:before {
	content: "\e607";
}
.icon-nine:before {
	content: "\e609";
}
.icon-zero:before {
	content: "\e608";
}
