/*
    Theme Name: 123 KORA
    Theme URI: http://www.code95.com
    Version: 1.0 beta
    Description: Live monitor for matches
    Author: Code95 Team - Fahmy Farahat | UI Developer
    Author URI: http://www.code95.com
*/
/*  IMPORT FONTS */
@import "icomoon.css";
@import "animate.css";
@import "ngDialog-theme-settings.css";
/* GERNAL CSS RULES */
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top:50px;
    margin-bottom: 60px;
    font-family: 'Droid Arabic Kufi', 'Droid Sans';
    color: #000;
    padding-bottom: 20px;
}
a {
    color: #000;
    transition: all 0.4s ease 0s;
}
a:hover {
    color:#bf1e2e;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.transition , .transition a , a.transition , a.transition:hover,
#top-stats .table-hover > tbody > tr, #top-stats .table-hover > tbody > tr:hover ,
#league-stats .match-stats , #league-stats .match-stats:hover {
    transition: all .3s ease-in-out;
}
/*************************/
/**** Helper classes******/
/*************************/
.flex {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex > *{
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.flex .flex-grow {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.text-ellipsis{ /* if u need Title Just one line  */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.text-right.flip {
  text-align: left !important;
}
.text-left.flip {
  text-align: right !important;
}
.no-border   {
    border:0px solid transparent;
}
section {
    margin-bottom:10px;
}
.text-hide {
    display:none;
}
.reset   {
    margin:0px 0 15px 0;
}
.bold {
    font-weight:bold;
}
.rounded {
    border-radius: 50%
}
.placeholder {
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center center;
  display: block;
  background-repeat: no-repeat;
  position: relative;
}

.placeholder.cover {
  background-size: cover;
}
.w32px{
  width: 32px;
  height: 32px;
  display: inline-block;
}
.yellowCard{
  background-color: #ffff00;
  border: 1px solid #ccc;
  width: 18px;
  height: 25px;
  display: inline-flex;
  margin-top: -10px;
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);

}
.redCard{

  background-color: red;
  border: 1px solid #ccc;
  width: 18px;
  height: 25px;
  display: inline-flex;
  margin-top: -10px;
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);

}
.dark-bg {
    background-color: rgba(0, 0, 0,.88);
    color: #fff;
}
.grey-bg{
    background-color: #3c3c3c;
    color: #fff;
}
.grey-light-bg {
    background-color: #eee;
}
.red-bg {
    background-color: #c01e2d;
    color:#fff;
}
/* key frames for css animation */
@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.obj-blink {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-direction: normal;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;
}
/* HEADER */

header {
    margin-bottom: 25px;
}


/* navbar */
.navbar-inverse {
    background:#fff;
    border-bottom:2px solid #d7d7d7 !important;
}
.navbar-inverse nav a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 18px;
}
.navbar-inverse.shrink .navbar-nav > li > a {
    font-size: 12px;
}
.navbar-nav > li > a {
    font-weight: bold;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
{
     background:transparent;
    color: #bf1e2e;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus , .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    background:#transparent;
    color: #bf1e2e;
}


.navbar-inverse nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}
.navbar-inverse .navbar-toggle{
    border-color: #4E4C4F;
    background: #4E4C4F;
    transition: all 0.4s ease 0s;
}
.navbar-inverse .navbar-toggle:hover {
    transition: all 0.4s ease 0s;
}
.navbar-brand {
    font-size: 30px;
    padding: 15px 0;
}
nav.navbar.shrink {
    min-height: 35px;
}

nav.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
}

nav.shrink .navbar-brand {
    font-size: 25px;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}

.bloc-right{
  left: 0 !important;
  right: auto;
}


/*Matchs Page*/
.team-stats{
    display:flex;
}
.team-stats .place-holder {
    flex:0 0 auto;
    margin-left:10px;
  display: inline;
}
.team-stats .team-name {
    flex:8 0 auto;
  display: inline;
}
.team-stats .team-score {
    flex:2 0 auto;
  display: inline;
}


NAVBAR
.nav>li>a:hover, .nav>li>a:focus , .searchbox-icon:hover , .searchbox-icon:focus , .searchbox-submit:focus > .searchbox-icon  {
    background:transparent;
    color: #bf1e2e;
    transition: all 0.4s ease 0s;
}
.navbar {
    border:0px;
}

/* SEARCH BOX */

.searchbox{
    position:relative;
    width:50px;
    height:50px;
    overflow:hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    width:100%;
    height:50px;
    line-height: 55px;
    margin:0;
    padding:0px 20px 0px 55px;
    font-size:15px;
    text-align: right;

}
.searchbox-input::-webkit-input-placeholder {
    color: #000;
}
.searchbox-input:-moz-placeholder {
    color: #000;
}
.searchbox-input::-moz-placeholder {
    color: #000;
}
.searchbox-input:-ms-input-placeholder {
    color: #000;
}

.searchbox-icon,
.searchbox-submit{
    width:50px;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    font-size:22px;
    left:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:55px;
    text-align:center;
    cursor:pointer;
    color:#000;
    background: transparent;
}
.searchbox-open{
    width:85%;
}
.lang {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}
.lang:hover {
    background: transparent;
    color:#bf1e2e;
}

/* LOGO */
.right-menu {
    display:block;
}
#top-logo.navbar-brand {
    display:none;

  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;

    padding: 4px 0px 0px !important;
    margin:0px;
}
#top-logo.navbar-brand img {
    width: 165px;
    height: auto;
}
.navbar-brand {
    float: none;
    height:auto;
}
.navbar-brand img {
    margin: 0 auto;
    transition: all 0.4s ease 0s;
}
/* ADS AREA */
.ads-area {
    margin-top:15px;
}


/* loadingBar */

#loading-bar .bar {
    background: #C43C39;
    top:50px;
}

/* Fancy blur effect */
#loading-bar .peg {

    -moz-box-shadow: #C43C39 0px 0 0px 0px;
    -ms-box-shadow: #C43C39 0px 0 0px 0px;
    -webkit-box-shadow: #C43C39 0px 0 0px 0px;
    box-shadow: #C43C39 0px 0 0px 0px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  #C43C39;
    border-left-color: #C43C39;
}

/* END HEADER */

/* top stats */

#top-stats table {
    color: #4E4C4F;
    border:1px solid #504c4d;

}
#top-stats .table > tbody > tr > td , #top-stats .table > thead > tr > th {
    border:0px;
    vertical-align: middle;
}
#top-stats .table-hover > tbody > tr:hover {
    background: #e4e4e4;
}
#top-stats table thead th  {
    background:#4e4c4f;
    color: #fff;
    text-align: center;
}
#top-stats table td:last-child {
    font-weight: normal;
}


/* MATCH STATS */

#match-stats .carousel {
    background: #322f31 url('../images/koraBG.png') no-repeat ;
    height:440px;
    direction:ltr;
}

#match-stats .carousel, #match-stats .carousel a {
    color: #fff;
}
#match-stats .carousel-inner .container {
    padding-top: 30px;
}
#match-stats.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
#match-stats .carousel-fade .carousel-control {
    z-index: 2;
    top: 50%;
    width: 25px;
    height: 30px;
    background-image: none;
    color: #bf1e2e;
    text-shadow:none;
    font-size: 25px;
    transition: opacity 0.2s ease-in-out;
}
#match-stats .carousel-control.left {
    left:7%;
}
#match-stats .carousel-control.right {
    right:7%;
    left:auto;
}
.carousel-indicators .active {
    background: #bf1e2e;
    border-color:#bf1e2e;
}
.carousel-indicators {
    width:100%;
}
/* Fade slide effect */
.carousel.carousel-fade .item {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity:0;
}

.carousel.carousel-fade .active.item {
    opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

.carousel.carousel-fade .carousel-control {
    z-index: 3;
}



.club-name {
    line-height: 8em;
    font-size:23px;
}
.result-match {
    margin: 20px 0 0;
}
.result-match li.show {
    margin-bottom: 25px;
}
.result-match span {
    font-size: 100px;
}
.result-match span.icon-fasel {
    font-size: 55px;
    position: relative;
    top: -15px;
}
.result-match li {
    margin:0 15px;
}
.result-match li ul {
    margin:25px 0 0;
}
.result-match li ul li:last-child {
    margin-top: 25px;
    color:#e43042;
    font-size: 14px;
}
.match-pref {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 27px;
}
/* Filter match */
#filters-matchs col-md-2 {
    padding-top: 25px;
}
#filters-matchs .view-calander {
    font-size: 17px;
    margin-top: 7px;
}

.list-league {
    border:0;
    width: 100%;
    font-size:13px;
    outline: none;
}
.pagination {
    margin:0;
}
.pagination > li > a, .pagination > li > span {
    border: none;
    font-size:18px;
    color:#000;
    margin: 0;
    padding: 0 5px;
    font-size: 13px;
    background-color:transparent;
    cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
{
color: #bf1e2e;
cursor: pointer;
background-color: #fff;
border-color: #fff;
}

.pagination > .active > a .day {
    font-weight: bold;
}
.pagination > li > a:hover {
    background: transparent;
    color: #bf1e2e;
}
.pagination i {
    font-size: 21px;
    margin-top: 15px;
    padding: 0 5px;
}
.pagination .day {
    font-size: 25px;
    margin: 0;
}

/**calenderPicker**/
.calenderPicker{
    direction: ltr;
    width: 90%;
    margin: auto;
    border: none;
    box-shadow: none;
}

.calenderPicker .header{
   text-align: center;
   font-size: 36px;
}
.calenderPicker .panel-heading{
    display: none;
}
.calenderPicker .header span {
display: inline-block;
width: 300px;
}
.calenderPicker .header i{
    cursor: pointer;
    color: #bf1e2e;
}
.calenderPicker > div.week{
    text-align: center;
}
.calenderPicker > div.week > span.day{
width: 14.28%;
padding: .5%;
float: left;
border-bottom: 1px solid #eee;
}
.calenderPicker > div.name > span.day{
   color: #9ea3ae;
   font-weight: bolder;
}
.calenderPicker > div.week > span.day a{
    margin: 0 auto;
    width: 50%;
    padding: 2% 0;
    cursor: pointer;
    color: #bf1e2e;
    font-weight: bold;
    display: block;
}
.calenderPicker > div.week > span.day.different-month a{
    color: #C0C0C0;
    font-weight: normal;
}
.calenderPicker > div.week > span.day a:hover,
.calenderPicker > div.week > span.day.selected a{
     color: #fff;
      background-color: #bf1e2e;
}


/* league-stats */
.league-stats {
    display: inline-block;
}
#league-stats{

}
#league-stats{
  -webkit-transition: min-height 1.9s;
    -moz-transition: min-height 1.9s;
    -ms-transition: min-height 1.9s;
    -o-transition: min-height 1.9s;
    transition: min-height 1.9s;
}
#league-stats .league-name  {
    font-size:16px;
    margin: 5px 0;
}
#league-stats .league-stats img {
    margin-left:15px;
}
#league-stats .league-name .num-match {
    font-size:14px;
}
#league-stats .match-stats {
    border-width:1px;
    border-style:solid;
    height:95px;
    padding: 15px;
    font-size:12px;
    line-height:25px;
    margin: 5px 0px;
}
.match-stats:hover {
    color:#bf1e2e;
    border-color:#bf1e2e;
    cursor: pointer;
}
#league-stats .match-stats.matchIn-Progress {
    background: #353234;
    color:#fff;
}
#league-stats .match-stats.matchIn-Progress:hover {
    cursor: pointer;
    background:#bf1e2e;
}
#league-stats .match-stats.matchIn-Progress a {
    color:#fff;
}
#league-stats .match-stats.matchIn-Progress i.live {
    padding: 0 6px;
    background: #bf1e2e;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    float: left;
}
#league-stats .match-stats.matchFinal{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
    filter: alpha(opacity=50); // IE 5-7
    opacity: 0.5;

    color:#999;
    border-color:#999;
}
#league-stats .match-stats.matchFinal:hover{
    color:#E3A7A3;
    border-color:#E3A7A3;
    cursor: pointer;

}

.team-row .team-name{
    padding: 0;
}

.options a {
    margin:0px 5px;
}
.options .follow, .options .btn-primary ,.options .toggle-off.btn {
    background: #bf1e2e;
    border-radius: 4px;
    color:#fff;
    padding: 8px 15px;
    font-size: 13px;
    border-color:transparent;
}
.options .follow:hover , .options .toggle-off.btn {
    background: #353234;
    text-decoration: none;
}
.options .bookmark .fa-star {
    color: #bf1e2e;
}
.options .toggle-handle {display:none;}

/* Details Section */
.match-details {
    border:3px solid #231f20;
    min-height: 470px;
    border-radius: 10px 10px 0 0;
    border-top: 0;
}
.match-details .nav-tabs li {
    padding: 0px;
    margin:0;
}
.match-details .nav-tabs li:first-child a  {
    border-radius: 0 9px 0 0;
    margin-right: -3px;
}
.match-details .nav-tabs li:last-child a {
    border-radius:9px 0 0 0;
    margin-left: -3px;
}
.match-details .nav-tabs > li > a {
    font-size: 25px;
    padding: 15px 0;
    margin:0;
    border:0px;
    color: #c7c7c7;
    background: #231f20;
}
.match-details .nav-tabs > li > a:focus , .match-details .nav-tabs > li.active > a {
    outline: none;
}
.match-details .nav-tabs > li.active > a {
    border-width: 3px 3px 0 3px;
    border-color: #231f20;
    border-style: solid;
    margin-top: -15px;
    font-weight: bold;
    background: #fff;
}
.match-details .nav-tabs > li.active > a  {
    border-radius: 10px 10px 0 0;
    color: #231f20;
    padding-bottom: 27px;
}
.match-details .nav-tabs > li > a {
    border-radius: 0;
}
.nav-tabs > li > a:hover {
    border-color: inherit;
}
.match-details .nav-tabs li:hover {
    margin:0;
}
/* FOOTER */
footer {
    background: #322f31;
    padding: 0px 0;
    color: #fff;
    font-size:12px;
    position: absolute;
    width: 100%;
  bottom: 0px;
  line-height: 45px;
}
footer a , footer a:hover{
    color:#fff;
}
footer .sitemap a {
    margin: 0 5px;
}
footer .copyright {
    display: inline-block;
    vertical-align: bottom;
    margin: 5px 0;
}
footer .copyright img {
    margin:0px 5px;
}
footer .sitemap {
margin: 0 0 10px;
}
@media (max-width: 767px) {
  footer{
   display: none;
  }
}
/***End--Footer***/

.football {
    width:40px;
    height:40px;
}


.alerts {
    margin: 20px;
}

.alerts p {
    /* quick and dirty hack added by me, you may remove it if not needed */
    margin: 0; padding: 0;
}

.alert-message.danger, .alert-message.danger:hover, .alert-message.error, .alert-message.error:hover, .alert-message.success, alert-message.success:hover, .alert-message.info, .alert-message.info:hover {
    color: #ffffff;
}
.alert-message .close {
    font-family: Arial, sans-serif;
    line-height: 18px;
}
.alert-message.danger, .alert-message.error {
    background-color: #c43c35;
    background-repeat: repeat-x;

    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert-message.success {
    background-color: #57a957;
    background-repeat: repeat-x;

    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57a957 #57a957 #3d773d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert-message.info {
    background-color: #339bb9;
    background-repeat: repeat-x;

    background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #339bb9 #339bb9 #22697d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

:root .alert-message {
    border-radius: 0 \0;
}
.close {
    float: right;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 13.5px;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=25);
    -khtml-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0.25;
}
.close:hover {
    color: #000000;
    text-decoration: none;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}
.alert-message {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;

    position: relative;
    padding: 7px 15px;
    margin-bottom: 18px;
    color: #404040;

    background-color: #eedc94;
    background-repeat: repeat-x;

    background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
    background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
    background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
    background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
    background-image: -o-linear-gradient(top, #fceec1, #eedc94);
    background-image: linear-gradient(top, #fceec1, #eedc94);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #eedc94 #eedc94 #e4c652;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.alert-message .close {
    margin-top: 0;
}
.alert-message a {
    font-weight: bold;
    color: #404040;
    text-decoration: none;
}
.alert-message.danger p a, .alert-message.error p a, .alert-message.success p a, .alert-message.info p a {
    color: #ffffff;
}
.alert-message p a:hover {
    text-decoration: underline;
}
.alert-message p {
    margin-bottom: 0;
}

/*
    RESPONSIVE SCREENS
*/
@media screen and (min-width: 768px) {
    .loading-bar, .loading-bar-active {
        /*top:50px;*/
    }
    .navbar-brand {
        float: right;
    }
    .navbar-brand img {
        width:262px;
        height: auto;
    }

}
@media (min-width: @screen-sm-min) {

}


/* Tablet & Mobile Screens */
@media (max-width: 767px) {
    .navbar-brand img {
        width:262px;
        height: auto;
    }
    .nav.navbar-nav.pull-left {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .container > .navbar-collapse {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    nav.shrink .navbar-toggle {
        margin: 8px 10px;
    }
    #top-logo.navbar-brand {
        margin: 0px 10px 0px 0px;
    }
    .navbar-header.col-sm-4.col-xs-12 {
        margin: 20px 0 0;
    }
    .right-menu {
        display:none !important;
    }
}

/*.animate{
      opacity: .9;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.animate:hover{
      opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
*/
.animate-enter,
.animate-leave
{
    -webkit-transition: 3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    top: 0;
    min-height: 250px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;}
.loader-bar {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}
.loader-bar{
    width: 35px;
    margin: 30px auto;
}
.loader-bar .spinner-icon {
  width: 32px;
  height: 32px;

  border:  solid 2px transparent;
  border-top-color:  #bf1e2e;
  border-left-color: #bf1e2e;
  border-radius: 25px;
  border-width: 3px;


  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loader-bar {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loader-bar{
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loader-bar {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loader-bar {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loader-bar {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}


/* Time line */

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  width: 85%;
  margin: auto;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #231f20;
  left: 50%;
  margin-left: -1.5px;
}
.timeline .gameOver{
  margin: auto;
  float: none;
  width: 30%;
}
.gameOver p{
  text-align: center;
  width: 100%;
}
.label-middle{
  color: #252122;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 37px;
  font-size: 1.3em;
  text-align: center;
  z-index: 100;
  margin: 55px auto 10px auto;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: 0 0 0 3px #252122, inset 0 2px 0 rgba(0, 0, 0, 0.05), 0 2px 0 3px rgba(0, 0, 0, 0.05);
}
.label-btn{
  color: #252122;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 37px;
  font-size: 1.3em;
  text-align: center;
  z-index: 100;
  margin: 5px auto 0px auto;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: 0 0 0 3px #252122, inset 0 2px 0 rgba(0, 0, 0, 0.05), 0 2px 0 3px rgba(0, 0, 0, 0.05);
}
.gameOver .timeline-top{
  min-width: 270px;
  height: 50px;
  float: left;
  background-color: #111;
  /* padding: 20px; */
  position: relative;
  color: #fff;
  text-align: center;
}
.timeline > li {
  margin-bottom: 100px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 90%;
  float: left;
  border: 1px solid #d4d4d4;
  background-color: #eeeeee;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel.bigEvent{
  background-color: #111;
  color: #fff;
}
.timeline > li > .timeline-panel.bigEvent:before,
.timeline > li > .timeline-panel.bigEvent:after
{
  border-left-color:  #111;
  border-right-color: #111;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 25px;
  right: -15px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 26px;
  right: -14px;
  display: inline-block;
  border-top: 9px solid transparent;
  border-left: 14px solid #eeeeee;
  border-right: 0 solid #eeeeee;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #252122;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 37px;
  font-size: 1.3em;
  text-align: center;
  position: absolute;
  top: 20px;
  right: -18px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: 0 0 0 3px #252122, inset 0 2px 0 rgba(0, 0, 0, 0.05), 0 2px 0 3px rgba(0, 0, 0, 0.05);

}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #C5C7C5 !important;
}
.timeline-badge a:hover {
  color: #000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-heading {
  position: relative;
}
.timeline-heading .profile-pic {
  width: 30%;
  position: absolute;
  bottom: -15px;
  margin: 0 5%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
}
.timeline-heading .profile-cover img {
  width: 100%;
}
.timeline-heading .profile-data {
  color: #fff;
  text-shadow: 0 0 3px rgba(0,0,0,.8);
  width: 60%;
  position: absolute;
  bottom: 5px;
}
.timeline-body {
  padding:15px;
  margin-bottom: 0;
  display: -webkit-flex;
  display: flex;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
  padding:20px;
  background-color:#f4f4f4;
}
.timeline-footer.small-footer{
  padding:0;
  background: transparent;
}
.timeline-footer > a{
  cursor: pointer;
  text-decoration: none;
}
.timeline-footer > .thumbnail {
  margin: 0;
  margin-right: 4px;
  width:  50px;
}
.timeline > li.timeline-inverted{
  float: right;
  clear: right;
  margin-top: 50px;
  margin-bottom: 0;
}
.timeline > li:nth-child(2){
  margin-top: 0px;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: -18px;
}
.pbpTXT{
  -webkit-flex: 8 0 auto;
  flex: 8 0 auto;
  width: 350px;
}
.eventIcon{
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 10px;
}
.title-details{
  margin: 10px auto 0 auto;
  width: 30%;
  padding: 10px;
  border: 1px solid #111;
  border-radius: 10px;
  text-align: center;
  display: block;
}
.period_goals{
  list-style-type: none;
}

/**Register**/

.form-horizontal small{
  display: block;
}
.horizontal-divider {
  margin: 0 auto;
  position: relative;
  width: 1px;
  height: 280px;
  background-color: #9d9d9d;
}
.horizontal-divider:before {
  content: 'OR';
  position: absolute;
  top: 40%;
  left: -11px;
  padding: 5px 0;
  font-size: 16px;
  background: #fff;
  color: #9d9d9d;
}
.input-container{
  position: relative;
  min-height: 60px;
  font-style: italic;
}
.error-container{

  color: #a94442;
  padding: 3px 0;
}
.btn[disabled]{
  opacity: .5;
}
.sns-signin {
  margin-top: 110px;
}
 .sns-signin a {
  display: block;
  text-align: left;
  border-radius: 50px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.sns-signin a:hover{
  border-color: none;
}
.sns-signin a .fa-facebook {
  color: #ffffff;
  padding: 7px 15px 7px 10px;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 10px;
  border-right: 1px solid #ffffff;
}
@media (max-width: 767px) {
  .sns-signin {
    margin-top: 40px;
  }
 .sns-signin a {
    font-size: 13px;
  }
  .sns-signin a .fa-facebook {
    padding: 7px 10px 7px 10px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .horizontal-divider {
    width: 100%;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
.horizontal-divider:before {
    content: 'OR';
    top: -11px;
    left: 46%;
    padding: 0 5px;
  }
.title-page{
  font-size: 26px;
}
}


/***login-form***/
.ngdialog.ngdialog-theme-default .ngdialog-content{
  background-color: #fff;
  padding: 0;
  font-family: 'Droid Arabic Kufi', 'Droid Sans';
  width: 380px;
  top: -70px;
}
.fb-section{
  background-color: #3b5997;
  padding: 3em 2em;
  border-radius: 5px 5px 0 0;
}
.fb-section .btn-facebook {

  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3) !important;
  color: #fff;
  border-color: #2b4780;
  border-width: 2px;
  margin: auto;
  display: block;
}

.fb-section .btn-facebook:hover{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  background-color:#2b4780;
}

a.blue-link{
  color: #15c;
  font-size: 12px;
}
a.blue-link:hover{
  text-decoration: underline;
}
.modal-footer{
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 0px;
}
.title-page{
  border-right: 5px solid #bf1e2e;
  padding:.1em .3em;
  margin-bottom: 1em;
  margin-right: 1em;
}
.navbar-nav > li > a{
  padding: 14px;
}
.account{
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.account:hover, .account.open{
  background-color: #f5f5f5;
}
.avatar{
  margin-right: 10px;
  position: relative;
  bottom: 0px;
  display: inline-block;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: all 0.4s ease 0s;
}
.avatar:hover{
  /*border-color: #bf1e2e;*/
  transition: all 0.3s ease 0s;
}
 .avatar>i{
  max-width: 24px;
   height: 24px;
}


 /*growl-Notification*/

.growl-container.growl-fixed.top-right{
  bottom: 0;
  top: auto;
}



/***settingsModel***/
.setting-header{
  background-color: #1d1d1b;
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 15px;
}
.border-l{
  border-left: 1px solid #eeeeee;
}
.tabset-settings .nav-tabs.nav-justified{
padding-bottom: 10px;
}
.list-icon{
  flex:2 0 auto;
color: #9c9c9c;
}






/**
 * dnd-list
 *
 */
.league-sorting ul[dnd-list],
.league-sorting ul[dnd-list] > li {
  position: relative;
}

.league-sorting ul[dnd-list] {
  min-height: 42px;
  padding-right: 0px;

}


.league-sorting ul[dnd-list] .dndDraggingSource {
  display: none;
}

.league-sorting ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  min-height: 42px;
}


.league-sorting ul[dnd-list] > li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 15px 5px 0px;
  margin-bottom: -1px;
  cursor: move;

}
.league-sorting ul[dnd-list] li:last-child
{
  border-bottom: none;
}
.league-sorting ul[dnd-list] li:first-child
{
  border-top: none;
}


.league-sorting ul[dnd-list] li.selected {
  background-color: #f5f5f5;
  color: #3c3c3c;
}
.league-sorting i{
  color: #9d9d9d;
}

.list-league-btn li{
  list-style-type: none;
  float: left;
  border-left: 1px solid #ddd;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding: 5px 15px;

}
.list-league-btn li:first-child{
  border: none;
}
.list-league-btn li a:hover{
  color: #080808;
}
/**--hidden-league--**/
.hidden-league{
  margin: 0;
  padding: 0px ;
}
.hidden-league li{
  padding: 7px 10px;
  margin-bottom: -1px;
  border-bottom: 1px solid #ddd;
}
.hidden-league li:last-child {
  border-bottom: none;
}

/**ladda-button**/
html[dir='rtl'] .ladda-button[data-style=zoom-in] .ladda-spinner{
  right: 45%;
  left: auto;
  margin-right: 0;
}

.fb-btn{
  background-color: #337ab7;
}
.ladda-button:hover{
  background-color: none;
  color: none;
  border-color: none;
}


/****scrollme***/
.scrollme{
  border-bottom: 1px solid #555555;
}
/* Match details page */
.match-details-page .match-score {
    padding: 15px;
    border-bottom: solid 5px #c01e2d;
}
.match-details-page .match-score header {
    border-bottom: solid 1px #666;
    color: rgba(255,255,255,0.8);
}
.match-details-page .match-score header ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.match-details-page .match-score header ul li:before {
    content: '|';
    margin: 0 10px;
    display: inline-block;
    color: #666;
}
.match-details-page .match-score header ul li:first-child:before {
    content: '';
    margin: 0;
}
.match-details-page .match-score .team-state .team-name {
    font-size: 20px;
    padding: 30px 100px 30px 0;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    margin-bottom: 20px;
}
.match-details-page .match-score .team-state.team-2 .team-name {
    background-position: left center;
    padding: 24px 0 24px 100px;
}
[dir=rtl] .match-details-page .match-score .team-state .team-name {
    background-position: left center;
    padding: 24px 0 24px 100px;
}
[dir=rtl] .match-details-page .match-score .team-state.team-2 .team-name {
    background-position: right center;
    padding: 24px 100px 24px 0;
}
.match-details-page .match-score .score {
    font-size: 32px;
    padding: 18px 0 0 ;
}
.match-details-page .match-score .score .seperator {
    font-family: serif;
    font-size: 40px;
}
.match-details-page .match-score .score small {
    font-size: 16px;
}
.match-details-page .game-events table td:first-child {
    border-right: solid 2px #000;
}
[dir=rtl] .match-details-page .game-events table td:first-child {
    border-right: none;
    border-left: solid 2px #000;
}
