<!doctype html>
<html class="no-js" dir="{{$root.LANG_DIRECTION}}" ng-app="koraApp">
    <head>
        <meta charset="utf-8">
        <title>123kora</title>
        <base href='/'>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css?family=Droid+Arabic+Kufi:400,700">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
        <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css" />
        <link rel="stylesheet" href="bower_components/angular-growl-v2/build/angular-growl.css" />
        <link rel="stylesheet" href="bower_components/ladda/dist/ladda.min.css" />
        <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
        <link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.css" />
        <!-- endbower -->
        <!-- endbuild -->
      <link rel="stylesheet" href="bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.css"/>
      <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-cloak ng-controller="AppController">
        <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

      <div ng-include="'views/header.html'"></div>

        <div ng-view=""></div>


        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="sitemap pull-right">
                            <a href="#">الشروط و الأحكام</a>
                            <a href="#">عن 123 كورة</a>
                            <a href="#">تواصل معانا</a>
                        </div>
                    </div>
                    <div class="col-md-4 bold">جميع الحقوق محفوظة</div>
                    <div class="col-md-4"><a href="#" class="copyright pull-left"> <img src="images/code95.png" alt="" /> Developed By </a></div>
                </div>
            </div>
        </footer>

        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="bower_components/angular-growl-v2/build/angular-growl.js"></script>
    <script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/ladda/dist/ladda.min.js"></script>
    <script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
    <script src="bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/d3-timeline/src/d3-timeline.js"></script>
    <script src="bower_components/angularjs-toaster/toaster.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/i18n/english.js"></script>
        <script src="scripts/i18n/arabic.js"></script>
        <script src="scripts/custom.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/matchs.js"></script>
        <script src="scripts/controllers/details.js"></script>
        <script src="scripts/services/factory.js"></script>
        <script src="scripts/filters/filters.js"></script>
        <script src="scripts/directives/calendar.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/directives/directive-methods.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/logout.js"></script>
        <script src="scripts/directives/fbfollowbtn.js"></script>
        <script src="scripts/directives/gcfield.js"></script>
        <script src="scripts/directives/gctimeline.js"></script>
        <script src="scripts/services/lang.js"></script>
        <!-- endbuild -->
    </body>
</html>
