<div class="modal-header fb-section">

  <button class="btn btn-facebook btn-lg FBLoginButton" ladda="loginLoading" ng-click="FBlogin()">
    <span>Login with Facebook</span>
    <i class="fa fa-fw fa-facebook fa-lg"></i>
  </button>


</div>
<div class="modal-body">
<div class="row">
  <p class="text-center col-md-12" style="padding: 20px">
    ليس لديك حساب؟
    <a href="/user/register" class="blue-link" ng-click="closeThisDialog()""> انشئ حساب الان</a></p>
</div>


  <p class="alert alert-danger animated fadeIn hide" ng-hide="true">
    <i class="fa fa-frown-o fa-lg"></i>

{{'INVALID_LOGIN' | translate}}
  </p>

    <form role="form" ng-submit="login()" name="login_form" class="">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                <input type="text" name="login_form.user_mail" ng-model="loginData.user_email" class="form-control" placeholder="البريد الالكتروني">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                </span>
                <input type="password" name="login_form.password" ng-model="loginData.user_password" class="form-control" placeholder="كلمه المرور">
            </div>
        </div>
    </form>

  <div style="display: flex">
    <a class="btn btn-default col-md-12" ng-click="login()" >دخول</a>

  </div>

</div>
<div class="modal-footer">


  <p class="pull-left col-md-6">  <i class=" fa fa-unlock-alt"></i> <a href class="blue-link"> هل نسيت كلمة المرور</a></p>

</div>
