
  <div class="modal-header setting-header">
    <h4 class="modal-title" id="dandinLogin"><i class="fa fa-cogs"></i> {{'settings_title' }}
    </h4>
  </div>

  <div class="modal-body" style="padding-top: 0">

<tabset justified="true" class="tabset-settings row">

  <tab heading="{{'ACCOUNT_TAP_TITLE' }}" class="tab-settings">


    <div class="col-md-8 border-l">
      <form role="form">

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text"
                   class="form-control"
                   ng-model="profile_input.user_name"
                   ng-init="profile_input.user_name = meData.name"
                   placeholder="{{'USER_NAME' }}">
          </div>
        </div>



        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            <input type="email"
                   ng-model="profile_input.email"
                   ng-init="profile_input.email = meData.email"
                   class="form-control"
                   placeholder="{{'your_mail' }}">
          </div>
        </div>



        <div class="form-group">
          <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-mobile fa-lg"></i></span>
            <input type="text" class="form-control"
                   ng-model="profile_input.mobile"
                   ng-init="profile_input.mobile = meData.mobile"
                   placeholder="{{'PHONE_NUMBER' }}">
          </div>
        </div>




        <!--<div class="input-group">

        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>

          <input type="text" class="form-control" datepicker-popup="{{format}}"
                 ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'"
                 datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                 close-text="Close" />

        </div>--->

        <hr/>

        <small>{{'change_password' }}</small>

        <div class="form-group">
          <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-unlock-alt"></i></span>
            <input type="password"  class="form-control" placeholder="{{'current_password' }}">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-unlock-alt"></i></span>
            <input type="password"   class="form-control" placeholder="{{'new_password' }}">
          </div>
        </div>




      </form><!--//END-FORM-->
    </div><!--//col-8-->

    <div class="col-md-4">

      <div class="thumbnail">
        <img ng-src="{{imgURL}}/{{meData.photo}}" ng-show="meData.photo.length"  width="199" height="200">
        <img src="images/face_place_holder.svg" ng-hide="meData.photo.length"  width="199" height="200">


     <div class="caption">
       <a href ng-file-select ng-model="files"><i class="fa fa-camera"></i></a>

       <a href ng-click="upload(files)"><i class="fa fa-upload"></i></a>
     </div>
      </div>





        <div ng-repeat="f in files" style="font:smaller">{{f.name}}</div>



  </div><!--//col-5-->


<div class="col-md-12 modal-footer">
  <button class="btn-danger btn" ng-click="editUserProfile(profile_input); closeThisDialog();">{{'save_btn' }}</button>
  <button class="btn-default btn" ng-click="closeThisDialog()">{{'cancel_btn' }}</button>
</div>


  </tab><!--///END TAB--->


  <tab heading="{{'LEAGUES_TAP_TITLE' }}" class="tab-settings">




    <div class="league-sorting">

      <h3 ng-hide="meData.followedLeagues.length" class="text-center">{{'NO_LEAGUES' }}</h3>

      <ul dnd-list="meData.followedLeagues">
        <li ng-repeat="item in meData.followedLeagues"
            dnd-draggable="item"
            dnd-moved="meData.followedLeagues.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="followedLeagues = item"
            ng-class="{'selected': followedLeagues === item}"
            class="team-stats"
            dnd-disable-if="">
        <div class="place-holder">
          <img ng-src="{{imgURL}}/{{item.logo}}" width="30" height="30" ng-show="item.logo.length > 29" />
          <img src="images/place_holder.png" width="30" ng-hide="item.logo.length > 29" />
        </div>
          <div class="team-name bold">{{item.name}}</div>
          <div class="team-score text-left">
            <ol class="list-league-btn">
              <li><div class="pull-left" ng-show="isAuthenticated" fb-Follow-Btn leagueid="{{item._id}}"></div></li>
              <li><a href ng-click="hideLeague(item._id)"><i class="fa fa-times"></i></a></li>
              <li><i class="fa fa-bars"></i></li>
            </ol>
          </div>
        </li>
      </ul>


    </div>

  </tab><!--///END TAB--->


  <tab heading="{{'HIDDEN_LEAGUES' }}" class="tab-settings">

    <h3 ng-hide="meData.hiddenLeagues.length" class="text-center">{{'NO_LEAGUES' }}</h3>

    <ul class="hidden-league">
      <li class="team-stats" ng-repeat="hiddenLeague in meData.hiddenLeagues">
        <div class="place-holder">
          <img ng-src="{{imgURL}}/{{hiddenLeague.logo}}" width="30" height="30" ng-show="item.logo.length > 29" />
          <img src="images/place_holder.png" width="30" ng-hide="item.logo.length > 29" />
        </div>
        <div  class="team-name bold">{{hiddenLeague.name}}</div>
        <div class="team-score">
          <button ng-click="unHiddeLeague(hiddenLeague._id)" class="btn btn-default btn-sm pull-left"><i class="fa fa-eye"></i> {{'SHOW_LEAGUE' }}</button>

        </div>
      </li>
    </ul>


  </tab>

</tabset>


    </div><!--//body------>



