


<div class="container">

  <div class="col-md-6">

    <table dir="ltr" cellpadding="10"  class="table table-striped text-center">
      <thead>
      <td>Half</td>
      <td>Time</td>
      <td class="text-left">Text</td>
      <td>playEvent</td>
      <td>playEventId</td>
      <td>TeamID</td>
      </thead>

      <tbody>
      <tr  ng-repeat="pbp in gameEvent.pbp | reverse" ng-class="{warning: pbp.playEvent.name == 'Caution', danger: pbp.playEvent.name == 'Expulsion', success: pbp.playEvent.name == 'Substitution'}">
        <td>{{pbp.period}}</td>
        <td>{{pbp.time.minutes}}:{{pbp.time.seconds}}</td>
        <td class="text-left"><span ng-class="{yellowCard: pbp.playEvent.name == 'Caution', redCard: pbp.playEvent.name == 'Expulsion'}"></span> {{pbp.playText}}</td>
        <td>{{pbp.playEvent.name}}</td>
        <td>{{pbp.playEvent.playEventId}}</td>
        <td>{{pbp.teamId}}</td>

      </tr>

      </tbody>
    </table>


  </div>
</div>
