<section class="container match-details-page">
<section class="match-score dark-bg">
  <header>
    <ul class="list-inline pull-left flip">
      <li class="pull-left flip">
        <img ng-src="http://api.123kora.code95.info/uploads/images/leagues/logos/{{gameEvent.league.logo}}" height="16" ng-show="gameEvent.league.logo.length">
        <img src="images/place_holder.png" height="16" ng-hide="gameEvent.league.logo.length">
        {{gameEvent.league.name_ar}} {{'الاسبوع ' + gameEvent.week}}</li>
      <li class="pull-left flip">{{gameEvent.venue.name_ar}}</li>
      <li class="pull-left flip"><i class="fa fa-clock-o"></i> {{gameEvent.start_date[1].full| date:"MM/dd/yyyy '-' h:mma"}}</li>
    </ul>
    <div class="pull-right flip hidden-xs">
      Facebook here
    </div>
    <div class="clearfix"></div>
  </header>
  <section id="league-stats">
    <!--Start-Loader-->
    <div class="col-md-12" ng-show='loading'>

      <div class="loader-bar">
        <div class="spinner-icon"></div>
      </div>

    </div><!--//End-Loader-->


    <div class="row" ng-hide="loading">

      <div class="col-sm-4 col-md-5 team-state team-1">
        <div class="team-name text-right flip" ng-repeat="team in gameEvent.teams" ng-show="team.teamLocationType.teamLocationTypeId == '1'" style="background-image:url('images/place_holder.svg');">
          {{team.name_ar}}
        </div><!--//end---NG-Repeat-->
        <div class="clearfix"></div>
        <div class="pull-right flip" ng-repeat="details in gameEvent.period_details">
          <ul class="list-inline text-muted">
            <li ng-repeat="goal in gameEvent.period_details[$index].goals" ng-show="goal.team.teamId == gameEvent.teams[0].teamId">{{goal.player.displayName}}, {{goal.time.minutes + "m"}}</li>
          </ul>
        </div><!--//End-goal_details-->
      </div><!--//col-md-4--->

      <section class="col-sm-4 col-md-2 text-center score">
        <div class="flex">
          <span class="flex-grow"  ng-repeat="team in gameEvent.teams" ng-show="team.teamLocationType.teamLocationTypeId == '1'">{{team.score}}</span>
          <span class="seperator flex-grow">:</span>
          <span class="flex-grow" ng-repeat="team in gameEvent.teams" ng-show="team.teamLocationType.teamLocationTypeId == '2'">{{team.score}}</span>
        </div>
        <small class="text-danger">{{gameEvent.event_status.name}}</small>
      </section><!--//Center-->

      <div class="col-sm-4 col-md-5 team-state team-2">
        <div class="team-name text-left flip" ng-repeat="team in gameEvent.teams" ng-show="team.teamLocationType.teamLocationTypeId == '2'" style="background-image:url('images/place_holder.svg');">
          {{team.name_ar}}
        </div><!--//end---NG-Repeat-->
        <div class="clearfix"></div>
        <div class="pull-left flip" ng-repeat="details in gameEvent.period_details">
          <ul class="list-inline text-muted">
            <li ng-repeat="goal in gameEvent.period_details[$index].goals" ng-show="goal.team.teamId == gameEvent.teams[1].teamId">{{goal.player.displayName}}, {{goal.time.minutes + "m"}}</li>
          </ul>
        </div><!--//End-goal_details-->
      </div><!--//col-md-4--->

    </div> <!-- END -->

    <div class="clearfix"></div>
  </section>
</section>


<div class="row">
  <div class="col-md-7">

    <gc-field></gc-field>

  </div>
  <div class="col-md-5">
    <div class="scrollme game-events" style="max-height: 400px;">
      <table cellpadding="10" class="table table-hover">
        <tbody>
        <tr ng-repeat="pbp in pbpObj">
          <td class="text-center grey-light-bg">
            <i>{{pbp.time.minutes}}</i></td>
          <td  ng-class="
                            {info: pbp.playEvent.playEventId == 11 || pbp.playEvent.playEventId == 9 }">
            <i class="fa fa-futbol-o fa-lg"
               ng-if="pbp.playEvent.playEventId == 11 || pbp.playEvent.playEventId == 9"></i>
            {{pbp.playText}}
            <i class=" "></i>

          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<div class="container">
  <hr>

  <gc-timeline details="gameEvent.period_details"></gc-timeline>

  <hr>
</div>
<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <table class="table table-striped">
        <thead>
        <tr class="red-bg">
          <td colspan="3" ng-repeat="team in gameEvent.teams" ng-show="team.teamLocationType.teamLocationTypeId == '1'">
            <img src="images/place_holder.svg" height="20" class="pull-right flip">
            <span>تشكيلة</span> {{team.name_ar}}
          </td>
        </tr>
        <tr class="text-muted">
          <td>{{'PLAYERNUMBER_TITLE'| translate}}</td>
          <td>{{'PLAYERNAME_TITLE'| translate}}</td>
          <td>{{'PLAYERPOSTION_TITLE'| translate}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="players in gameEvent.box_scores[0].players" ng-if="players.isGameStarted == true" >
          <td>{{players.player.uniform}}</td>
          <td>{{players.player.displayName}} <i ng-class="{'fa-arrow-down':checkPlayerOut(players.player.playerId)}" class="fa"></i> {{players.player.playerId}}</td>
          <td>{{players.position.abbreviation}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-striped" ng-if="gameEvent.box_scores[0].benchPlayers !== null">
        <thead>
        <tr class="red-bg">
          <td colspan="3" ng-repeat="team in gameEvent.teams" ng-show="team.teamLocationType.teamLocationTypeId == '1'">
            <img src="images/place_holder.svg" height="20" class="pull-right flip">
            <span>احتياطى</span> {{team.name_ar}}
          </td>
        </tr>
        <tr class="text-muted">
          <td>{{'PLAYERNUMBER_TITLE'| translate}}</td>
          <td>{{'PLAYERNAME_TITLE'| translate}}</td>
          <td>{{'PLAYERPOSTION_TITLE'| translate}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="benchPlayers in gameEvent.box_scores[0].benchPlayers" >
          <td>{{benchPlayers.player.uniform}}</td>
          <td>{{benchPlayers.player.displayName}}</td>
          <td>{{benchPlayers.position.abbreviation}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <table class="table table-striped">
        <thead>
        <tr class="dark-bg">
          <td colspan="3" ng-repeat="team in gameEvent.teams" ng-show="team.teamLocationType.teamLocationTypeId == '2'">
            <img src="images/place_holder.svg" height="20" class="pull-right flip">
            <span>تشكيلة</span> {{team.name_ar}}
          </td>
        </tr>
        <tr class="text-muted">
          <td>{{'PLAYERNUMBER_TITLE'| translate}}</td>
          <td>{{'PLAYERNAME_TITLE'| translate}}</td>
          <td>{{'PLAYERPOSTION_TITLE'| translate}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="players in gameEvent.box_scores[1].players"  ng-if="players.isGameStarted == true">
          <td>{{players.player.uniform}}</td>
          <td>{{players.player.displayName}}</td>
          <td>{{players.position.abbreviation}}</td>
        </tr>
        </tbody>
      </table>

      <table class="table table-striped" ng-if="gameEvent.box_scores[1].benchPlayers !== null">
        <thead>
        <tr class="dark-bg">
          <td colspan="3" ng-repeat="team in gameEvent.teams" ng-show="team.teamLocationType.teamLocationTypeId == '2'">
            <img src="images/place_holder.svg" height="20" class="pull-right flip">
            <span>احتياطى</span> {{team.name_ar}}
          </td>
        </tr>
        <tr class="text-muted">
          <td>{{'PLAYERNUMBER_TITLE'| translate}}</td>
          <td>{{'PLAYERNAME_TITLE'| translate}}</td>
          <td>{{'PLAYERPOSTION_TITLE'| translate}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="benchPlayers in gameEvent.box_scores[1].benchPlayers" >
          <td>{{benchPlayers.player.uniform}}</td>
          <td>{{benchPlayers.player.displayName}}</td>
          <td>{{benchPlayers.position.abbreviation}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <table class="table table-bordered">
        <thead>
        <tr>
          <td colspan="2" style="width:50%;" class="red-bg" ng-repeat="team in gameEvent.teams" ng-show="team.teamLocationType.teamLocationTypeId == '1'">
            {{team.name_ar}}
          </td>
          <td colspan="2" class="dark-bg text-right flip" ng-repeat="team in gameEvent.teams" ng-show="team.teamLocationType.teamLocationTypeId == '2'">
            {{team.name_ar}}
          </td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="width:25%;">17 (9)</td>
          <td colspan="2" class="text-center">تصويبات</td>
          <td style="width:25%;">10 (3)</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</section>


<div class="container">
  <div class="col-md-12" ng-repeat="subs in substitutions">{{subs.playerIn.displayName}}</div>

</div>
