
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="right-menu">
        <a href class="pull-right lang" ng-click="changelang('en')">EN</a>
        <!--<form class="searchbox pull-right">
          <input type="search" placeholder="ابحث  .." name="search" class="searchbox-input" >
          <input type="submit" class="searchbox-submit" value="">
          <span class="searchbox-icon "><span class="icon-search"></span></span>
        </form> --END Search form -->

      </div>

      <a id="top-logo" class="navbar-brand animated fadeInDown" title="123 KORA" href="/"><img src="images/logo-top.png" class="img-responsive" alt="123 KORA" title="123KORA" /></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-left">
        <li><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
        <li><a ng-hide="isAuthenticated" href="/user/register">{{$root.lang.register}}</a></li>
        <li><a ng-hide="isAuthenticated"  href  ng-dialog="views/dialogs/loginModal.html" ng-dialog-controller="LoginCtrl">{{$root.lang.login}}</a></li>


        <li  class="dropdown" dropdown on-toggle="toggled(open)" >
          <a class="dropdown-toggle" dropdown-toggle ng-show="isAuthenticated" href ng-click="logout()">

          <i class="fa fa-angle-down"></i>
            {{meData.name}}
            <div class="avatar">
            <img ng-src="{{imgURL}}/{{meData.photo}}" ng-show="meData.photo.length"  width="24">
            <img src="images/face_place_holder.svg" ng-hide="meData.photo.length"  width="24">
          </div>
          </a>

          <ul class="dropdown-menu bloc-right" role="menu" >
            <li><a href ng-click="settingsPopup()">{{$root.lang.SETTINGS }} </a> </li>
            <li><a href>{{$root.lang.HELP_ME }}</a> </li>
            <li><a href ng-click="logOut()"><i class="fa fa-sign-out"></i> {{$root.lang.SIGNOUT }}</a> </li>

          </ul>


        </li>

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<header>
  <div class="container">
    <div class="navbar-header col-sm-4 col-xs-12">
      <a class="navbar-brand" title="123 KORA" href="/"><img src="images/logo.png" class="img-responsive" alt="123 KORA" title="123KORA" /></a>
    </div>
    <div class="ads-area pull-left col-sm-8 hidden-xs">
      <a href="/">
        <img src="images/728x90.jpg" class="img-responsive" alt="" />
      </a>
    </div>
  </div>

</header> <!-- END Header ------------->
