<section id="match-stats" class="hidden-xs hidden-sm animated fadeIn" ng-hide="isAuthenticated">

  <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner container">
      <!-- Start loop for repeat items -->
      <div class="item row active">
        <div class="row text-left">
          <div class="col-md-4">
            <div class="row  club-name bold">
              <div class="col-md-8 "><a href="#">برشلونة</a></div>
              <div class="col-md-4"><img src="images/fcb.png" alt=""/></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="goals-stats list-unstyled">
                  <li>أندرية إنيستا فى الدقيقة 16</li>
                  <li>ليونيل ميسى فى الدقيقة 23 ٫ 77</li>
                  <li>ديفيد فيا فى الدقيقة 42</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <ul class="result-match list-inline list-unstyled">
              <li class="show"><img src="images/espn.png" width="31" height="31" alt=""/></li>
              <li><span class="icon-tow"/></li>
              <li><span class="icon-fasel"/></li>
              <li><span class="icon-four"/></li>
              <li class="show">
                <ul class="list-unstyled bold">
                  <li>الدوري الأسباني</li>
                  <li>الاسبوع الرابع</li>
                  <li>منذ 5 ساعات</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 text-right ">
            <div class="row club-name bold">
              <div class="col-md-4"><img src="images/valesia.png" alt=""/></div>
              <div class="col-md-8"><a href="#">فالنسيا</a></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="goals-stats list-unstyled">
                  <li>الفارو نيجريدو فى الدقيقة 36</li>
                  <li>بابلو بياتى في الدقيقة 84</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center match-pref">
              أعلن الاتحاد الإسباني لكرة القدم عن موعد المباراة الهامة والمرتقبة والتي سوف تجمع فريقي برشلونة وفالنسيا
              ضمن منافسات الجولة الثالثة عشر من الدوري الإسباني لكرةا لقدم.
            </p>
          </div>
        </div>
      </div>
      <!-- END Item Loop -->
      <div class="item row">
        <div class="row text-left">
          <div class="col-md-4">
            <div class="row  club-name bold">
              <div class="col-md-8 "><a href="#">برشلونة</a></div>
              <div class="col-md-4"><img src="images/fcb.png" alt=""/></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="goals-stats list-unstyled">
                  <li>أندرية إنيستا فى الدقيقة 16</li>
                  <li>ليونيل ميسى فى الدقيقة 23 ٫ 77</li>
                  <li>ديفيد فيا فى الدقيقة 42</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <ul class="result-match list-inline list-unstyled">
              <li class="show"><img src="images/espn.png" width="31" height="31" alt=""/></li>
              <li><span class="icon-six"/></li>
              <li><span class="icon-fasel"/></li>
              <li><span class="icon-seven"/></li>
              <li class="show">
                <ul class="list-unstyled bold">
                  <li>الدوري الأسباني</li>
                  <li>الاسبوع الرابع</li>
                  <li>منذ 5 ساعات</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 text-right ">
            <div class="row club-name bold">
              <div class="col-md-4"><img src="images/valesia.png" alt=""/></div>
              <div class="col-md-8"><a href="#">فالنسيا</a></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="goals-stats list-unstyled">
                  <li>الفارو نيجريدو فى الدقيقة 36</li>
                  <li>بابلو بياتى في الدقيقة 84</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center match-pref">
              أعلن الاتحاد الإسباني لكرة القدم عن موعد المباراة الهامة والمرتقبة والتي سوف تجمع فريقي برشلونة وفالنسيا
              ضمن منافسات الجولة الثالثة عشر من الدوري الإسباني لكرةا لقدم.
            </p>
          </div>
        </div>
      </div>
      <!-- END Item Loop -->
      <div class="item row">
        <div class="row text-left">
          <div class="col-md-4">
            <div class="row  club-name bold">
              <div class="col-md-8 "><a href="#">برشلونة</a></div>
              <div class="col-md-4"><img src="images/fcb.png" alt=""/></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="goals-stats list-unstyled">
                  <li>أندرية إنيستا فى الدقيقة 16</li>
                  <li>ليونيل ميسى فى الدقيقة 23 ٫ 77</li>
                  <li>ديفيد فيا فى الدقيقة 42</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <ul class="result-match list-inline list-unstyled">
              <li class="show"><img src="images/place_holder.png" alt="" width="31" height="31"/></li>
              <li>4 : 5</li>
              <!-- <li><span class="icon-fasel" /></li>
              <li><span class="icon-three" /></li> -->
              <li class="show">
                <ul class="list-unstyled bold">
                  <li>الدوري الأسباني</li>
                  <li>الاسبوع الرابع</li>
                  <li>منذ 5 ساعات</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 text-right ">
            <div class="row club-name bold">
              <div class="col-md-4"><img src="images/valesia.png" alt=""/></div>
              <div class="col-md-8"><a href="#">فالنسيا</a></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="goals-stats list-unstyled">
                  <li>الفارو نيجريدو فى الدقيقة 36</li>
                  <li>بابلو بياتى في الدقيقة 84</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center match-pref">
              أعلن الاتحاد الإسباني لكرة القدم عن موعد المباراة الهامة والمرتقبة والتي سوف تجمع فريقي برشلونة وفالنسيا
              ضمن منافسات الجولة الثالثة عشر من الدوري الإسباني لكرةا لقدم.
            </p>
          </div>
        </div>
      </div>
      <!-- END Item Loop -->
    </div>
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="fa fa-chevron-left fa-4" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="fa fa-chevron-right fa-4" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- END Slider -->
</section>


<!---///End Slider----->


<section id="filters-matchs">
  <div class="container">
    <div class="row">


      <div class="col-md-2">
        <div class="view-calander">
          <button class="btn btn-default " ng-click="isCalenderOpen = !isCalenderOpen"><i class="fa fa-calendar"></i>
            عرض التقويم
          </button>
        </div>
      </div>


      <div class="col-md-8 text-center">
        <nav>

          <ul class="pagination">
            <li><a ng-click="nextDate()"><i class="fa fa-caret-right" aria-hidden="true"></i><span
              class="sr-only">Next</span></a></li>
            <li ng-class="{active: isActive('/{{label | date:'yyyyMMdd'}}')}" ng-repeat="label in labels">
              <a ng-href="{{label | date:'yyyyMMdd'}}">
                <p class="day"> {{label | date:'dd'}}</p>
                {{label | date:'EEE'}}</a>
            </li>
            <li><a ng-click="prevDate()"><i class="fa fa-caret-left" aria-hidden="true"></i><span class="sr-only">Previous</span></a>
            </li>

          </ul>
        </nav>
      </div>
      <div class="col-md-2">
        <select class="list-league" ng-model="filtername" ng-options="league.name for league in leagues">
          <option value="">كل الدوريات</option>
        </select>

      </div>
    </div>

    <!--start DatePicker--------->
    <div class="row" collapse="isCalenderOpen">
      <div class="calenderPicker">
        <calendar class="calenderPicker" selected="dayCalender" ng-model="dayCalender"></calendar>
      </div>

    </div>
    <!--//End datepicker----------->

  </div>
</section> <!-- END Filter matches -->


<div class="container" ng-repeat="label in labels">

  <div class="col-md-12">
    {{label.full | date:'yyyyMMdd'}}

  </div>

</div>

<section id="league-stats">
  <!--Start-Loader-->
  <div class="col-md-12" ng-show='loading'>

    <div class="loader-bar">
      <div class="spinner-icon"></div>
    </div>

  </div>
  <!--//End-Loader-->


  <div class="container" ng-repeat="league in leagues |filter: filtername.name">

    <!--Start leuage title--->
    <div class="row">
      <div class="col-md-4">
        <div class="league-stats">
          <img src="images/place_holder.png" ng-hide="league.logo.length" class="football pull-right"/>
          <img ng-src="http://api.123kora.code95.info/uploads/images/leagues/logos/{{league.logo}}"
               ng-show="league.logo.length" class="football pull-right"/>

          <div class="pull-right">
            <h2 class="league-name bold">{{league.name}}</h2>

            <p class="num-match">{{league.events.length}} {{league.events.length| matchORmatchs }}</p>

            <p>{{league.featured == null}}</p>
          </div>
        </div>
      </div>


      <div class="col-md-2 col-md-offset-6">
        <div class="pull-left" ng-show="isAuthenticated" fb-Follow-Btn leagueid="{{league._id}}"></div>

        <a ng-hide="isAuthenticated" href
           class="btn btn-danger pull-left"
           ng-dialog="views/dialogs/loginModal.html"
           ng-dialog-controller="LoginCtrl">Follow</a>

      </div>
      <!--//col-2-->

    </div>
    <!--end leuage title--->

    <div class="row">
      <div ng-repeat="match in league.events">
        <div class="col-md-3">
          <a ng-href="/gamecast/{{match._id}}">
            <div class="match-stats match{{match.event_status.name}}">

              <div ng-repeat-start="team in match.teams"></div>
              <div class="team-stats">
                <div class="place-holder"><img src="images/place_holder.png" height="20" alt=""/></div>
                <div class="team-name bold">{{ team.name}}</div>
                <div class="team-score text-left">{{team.score}}</div>
              </div>
              <div ng-repeat-end=""></div>


              <div class="col-lg-12">
                <span
                  ng-show="match.event_status.eventStatusId == 1">{{match.start_date[1].full| date: 'HH:mm UTC'}}</span>
                <span ng-show="match.event_status.eventStatusId == 2">الدقيقة {{match.event_status.time.minutes}}</span>
                <span ng-show="match.event_status.eventStatusId == 3">{{match.event_status.name}} </span>
                <span ng-show="match.event_status.eventStatusId == 4">المباراة انتهت</span>
                <span ng-show="match.event_status.eventStatusId == 5">المباراة مؤجلة</span>
                <i class="live" ng-show="match.event_status.eventStatusId == 2">live </i>
              </div>
            </div>

          </a>
        </div>
        <!--//end col-3-->

      </div>


    </div>
    <!--//end-row-->

    <hr/>


  </div>

  <div class="container animated fadeIn" ng-show="leagues.length == 0" ng-animate="'animate'">
    <div class="text-center">
      <h1><font color='#bf1e2e' style='shadow:0 0 3px #000'>لا</font> يوجد مباريات</h1>
    </div>
  </div>


</section>

<section id="top-stats" class="container">
  <div class="row">
    <div class="col-md-4">
      <table class="table table-hover bold text-center">
        <thead>
        <tr>
          <th colspan="4">اعلي نقاط هذا الاسبوع</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td><img src="images/player.jpg" alt="" height="30" class="rounded"/></td>
          <td>إسم اللاعب هنا</td>
          <td>1677 نقطة</td>
        </tr>
        <tr>
          <td>2</td>
          <td><img src="images/player.jpg" alt="" height="30" class="rounded"/></td>
          <td>إسم اللاعب هنا</td>
          <td>1677 نقطة</td>
        </tr>
        <tr>
          <td>3</td>
          <td><img src="images/player.jpg" alt="" height="30" class="rounded"/></td>
          <td>إسم اللاعب هنا</td>
          <td>1677 نقطة</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- END Table -->
    <div class="col-md-4">
      <table class="table table-hover bold text-center">
        <thead>
        <tr>
          <th colspan="4">اعلي نقاط هذا الاسبوع</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td><img src="images/player.jpg" alt="" height="30" class="rounded"/></td>
          <td>إسم اللاعب هنا</td>
          <td>1677 نقطة</td>
        </tr>
        <tr>
          <td>2</td>
          <td><img src="images/player.jpg" alt="" height="30" class="rounded"/></td>
          <td>إسم اللاعب هنا</td>
          <td>1677 نقطة</td>
        </tr>
        <tr>
          <td>3</td>
          <td><img src="images/player.jpg" alt="" height="30" class="rounded"/></td>
          <td>إسم اللاعب هنا</td>
          <td>1677 نقطة</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- END Table -->
    <div class="col-md-4">
      <table class="table table-hover bold text-center">
        <thead>
        <tr>
          <th colspan="4">اعلي نقاط هذا الاسبوع</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td><img src="images/player.jpg" alt="" height="30" class="rounded"/></td>
          <td>إسم اللاعب هنا</td>
          <td>1677 نقطة</td>
        </tr>
        <tr>
          <td>2</td>
          <td><img src="images/player.jpg" alt="" height="30" class="rounded"/></td>
          <td>إسم اللاعب هنا</td>
          <td>1677 نقطة</td>
        </tr>
        <tr>
          <td>3</td>
          <td><img src="images/player.jpg" alt="" height="30" class="rounded"/></td>
          <td>إسم اللاعب هنا</td>
          <td>1677 نقطة</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- END Table -->
  </div>
</section>
<!--//End Points Table------>

