<div growl></div>

<div class="container">


  <div class="col-md-12">
    <h1 class="title-page">آنشئ حساب جديد</h1>
  </div>

  <div class="col-md-10 col-md-offset-1">
<div class="alert alert-{{alert.type}} animated fadeIn"><b>{{alert.title}}</b> {{alert.message}}</div>

  </div>

  <div class="row animated fadeIn">

    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">

      <form class="form-horizontal" name="registration_form">


        <div class="input-container">
        <div class="input-group" ng-class="{'has-success':!registration_form.user_email.$invalid, 'has-error':registration_form.user_email.$invalid && registration_form.user_email.$dirty || register_errors.user_email   || errData.status == '400' }"
          >
          <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          <input
            type="email"
            name="user_email"
            ng-model="register_data.user_email"
            required direction="ltr"
            class="form-control"
            placeholder="{{'your_mail' | translate}}"
            >

        </div><!--//input-group-->
        <div class="error-container animated fadeIn text-left" ng-show="registration_form.user_email.$dirty && registration_form.user_email.$invalid || register_errors.user_email || errData.status == '400'">
          <small class="error" ng-show="registration_form.user_email.$error.required">
            {{ 'EMAIL_REQUIRED' | translate }}
          </small>
          <small class="error" ng-show="registration_form.user_email.$error.email">
            {{ 'INVALID_EMAIL' | translate }}
          </small>
          <small class="error" ng-show="errData.status == '400'">
            {{ message | translate }}
          </small>
        </div><!--//error-container-->

          </div>
        <!---///end input-->




        <div class="input-container">
        <div class="input-group" ng-class="{'has-success':!registration_form.user_password.$invalid, 'has-error':registration_form.user_password.$invalid && registration_form.user_password.$dirty }"
          >

          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input
            type="password"
            name="user_password"
            ng-model="register_data.user_password"
            required direction="ltr"
            class="form-control"
            ng-minlength="8"
            placeholder="{{'your_password' | translate}}"
            >

        </div><!--//input-group-->

        <div class="error-container animated fadeIn text-left" ng-show="registration_form.user_password.$dirty && registration_form.user_password.$invalid">
          <small ng-show="registration_form.user_password.$error.required">
            {{ 'PASSWORD_REQUIRED' | translate }}
          </small>
          <small ng-show="registration_form.user_password.$error.minlength">
            {{ 'PASSWORD_SHORT' | translate }}
          </small>
        </div><!--//error-container-->

          </div>
        <!---///end input-->

        <div class="input-container">

          <div class="input-group"ng-class="{'has-success':!registration_form.user_phone.$invalid, 'has-error':registration_form.user_phone.$invalid && registration_form.user_phone.$dirty }"
            >
            <span class="input-group-addon"><i class="fa fa-mobile-phone fa-lg"></i></span>
            <input type="text" name="user_phone"
                   ng-pattern="/^[0-9]+$/"
                   ng-model="register_data.user_phone"
                   required ng-minlength="11" placeholder="{{'PHONE_NUMBER' | translate}}" class="form-control" />
          </div><!--//input-group-->


          <div class="error-container animated fadeIn text-left" ng-show="registration_form.user_phone.$dirty && registration_form.user_phone.$invalid || registration_form.user_phone.$error.pattern">
            <small ng-show="registration_form.user_phone.$error.required">
              {{ 'PHONE_REQUIRED' | translate }}
            </small>

            <small ng-show="registration_form.user_phone.$error.pattern">
             لا يمكن ادخال غير الارقام
            </small>
            <small ng-show="registration_form.user_phone.$error.minlength">
              {{ 'PHONE_SHORT' | translate }}
            </small>
          </div><!--//error-container-->
        </div>
        <!---///end input-->

      </form>


      <div class="row">
        <!-- <div class="col-md-6">
                                    <a href="#password_recovery" id="forgot_from_3">need help?</a>
                                </div> -->
        <div class="col-md-12">
          <button  class="btn btn-default btn-block" type="submit"  ng-disabled="registration_form.$invalid" ng-click="register()">تسجيل</button>
        </div>
      </div>

    </div><!--//singup-form-->

    <div class="col-xs-12 col-md-2 col-sm-1">
      <div class="horizontal-divider"></div>
    </div>


    <div class="col-xs-12 col-sm-5 col-md-4 text-center">
      <div class="sns-signin">
        <a class="btn btn-primary" href ng-click="fbRegister()">
          <i class="fa fa-spinner fa-spin fa-1x" ng-show="registered"></i>
          Sign in via Facebook <i class="fa fa-facebook f-lg"></i></a>
      </div>
    </div>

    <div class="clearfix"></div>


  </div><!--//End row-->


</div>
